body, html{
  height:100%;
}
body{
  background: url(cupcake_wallpaper.png) no-repeat fixed center;
  background-size: 100%;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  overflow: hidden;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  display: flex;
}
.title{
  background-color: #777;
}

.dancer {
  position: absolute;
}

  .dancer img {
  max-height: 100px;
  max-width: 100px;
  }

.blinky-dancer{
/*
https://media.giphy.com/media/4PUkqN8QQsaFIkqi8a/giphy.gif
*/
}


.hat-dancer{
/*
https://media.giphy.com/media/cC9MHgpD4ZueFUHIN0/giphy.gif
*/
}

.unicorn-dancer{
/*
https://media.giphy.com/media/OT75fxGjnLsaHRoEJ0/giphy.gif
*/
}
